<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<header>
    <nav>
        <ul>
            <li><h3><a href="/home">Home</a></h3></li>
            <li><h3><a href="/tasksList">Tasks</a></h3></li>
            <li><h3><a href="/about">About</a></h3></li>
        </ul>
    </nav>
</header>
<style>
    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
    }
</style>